@model Blog.Model.T_User

@{
    ViewBag.Title = "个人信息";
    Layout = "~/Views/Shared/navLayoutPage1.cshtml";
}

    <div class="container" style="margin-top:10px;">
        <div class="row">
            <div class="col-md-2">
                <div class="list-group">
                    <a href="/Comment/Comment">
                        <span class="list-group-item glyphicon glyphicon-pencil">评论管理</span>
                    </a>
                    <a class="active" href="/Manag/Manag">
                        <span class="list-group-item glyphicon glyphicon-th-list">文章管理</span>
                    </a>
                    <a class="active" href="/Manag/Myself">
                        <span class="list-group-item glyphicon glyphicon-th-list">信息管理</span>
                    </a>
                </div>
            </div>
            <div class="col-md-8">
                <form id="Myform" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">用户名：</label>
                        <div class="col-sm-8">
                            <input type="text" id="inputName" name="UserName" readonly="readonly" class="form-control" value="@ViewBag.na" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">昵称：</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="inputPet" name="UserPet" value="@ViewBag.pet" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">性别：</label>

                        <div class="col-sm-8">
                            <input type="text" id="inputSex" name="UserSex" class="form-control" value="@ViewBag.sex" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">生日：</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputBri" name="UserBirthday" type="date" value="@ViewBag.br" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">地址：</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputAdd" name="UserBirthplace" type="text" value="@ViewBag.bir" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">QQ：</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputQQ" name="UserQQ"  type="text" value="@ViewBag.qq" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">邮箱：</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="inputEmail" name="UserMailbox" type="text" value="@ViewBag.email" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">签名：</label>
                        <div class="col-sm-8">
                            <textarea style="resize:none" id="textSig" name="UserSig" class="form-control" >@ViewBag.sig</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <button type="button" id="btnEdit" class="form-control btn btn-info">修改信息</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Scripts/checkmyself.js"></script>
