@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Blog.Model.T_Article>

@{
    ViewBag.Title = "首页";
    Layout = "~/Views/Shared/navLayoutPage1.cshtml";
}

<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-8 blog-main col-sm-offset-1">
            <h4 class="form-signin-heading">在这你可以将自己生活上不如意的事情发表在这</h4>
            <hr />
            @foreach (var article in Model)
            {
                <div class="blog-post">
                    <h4 class="blog-post-title">@article.Title</h4>
                    <p class="blog-post-meta">发布时间：@article.PublishTime|阅读人数：@article.ReadPeople|发布人：@article.PublishName</p>
                    <p>@article.Content @Html.ActionLink("查看全文", "Show", new { Id = article.Id })</p>
                    <hr />
                </div>
            }
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
        </div>
        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
            <div class="sidebar-module sidebar-module-inset">
                <h4><em>@Session["UserPet"]. </em><img class="img-circle" style="width:80px;height:80px" src="/img/1.jpg" /></h4>
                <p>@Session["UserSig"]</p>
            </div>
            <div class="sidebar-module">
                <h4>热门文章</h4>
                <ol class="list-unstyled">

                    @*@foreach (var article in @ViewBag.top5 as List<Blog.Models.Article>)
                    {
                        <li>@Html.ActionLink(article.Title, "Show", new { Id = article.Id })</li>
                    }*@
                </ol>
            </div>
            <div class="sidebar-module">
                <h4>文章推荐</h4>
                <ol class="list-unstyled">
                    <li><a href="#">WEB教学</a></li>
                    <li><a href="#">最新科技信息</a></li>
                    <li><a href="#">日常八卦</a></li>
                </ol>
            </div>
        </div>
    </div>
</div>

